/* establish a nice canvas to work on that is dynamic */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 4, 17);
    flex: 1;
}
/* this container holds all the meat */
.home-main {
    /* This is needed to position the pseudo-element */
    position: relative; 
}
/* creates an additional layer on top of home-main allowing us to make a blur effect that doesn't effect the other elements inside */
.home-main::before {
    /* could be used to add text but wont display anything without at least an empty string */
    content: "";
    /* ensures it will not effect the positioning of the other elements */
    position: absolute;
    /* ensure complete coverage */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* place my image */
    background-image: url('Images/Backdrops/Homebackdrop.webp');
    /* put in the center */
    background-position: center;
    /* make it so the image doesn't move when scrolling */
    background-attachment: fixed;
    /* make it so the image doesn't loop to fill space */
    background-repeat: no-repeat;
    /* put on the blur */
    filter: blur(5px);
    /* place it behind everything inside main */
    z-index: -1;
}
/* create flexbox to hold video */
.video-holder{
    display: flex;
    padding-top: 10rem;
    justify-content: center;
    align-items: center;
}
/* adjust video size and add border */
iframe{
    border: 8px solid white;
    border-radius: 10px;
    height: 472px;
    width: 840px;
}
/* slogan that appears under the video */
#slogan{
    /* put separate margin size for top and bottom to look good after java scale */
    margin-top: 5%;
    margin-bottom: 2.5%;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(185, 1, 1);
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 2rem;
    /* applies smooth grow animation */
    transition: transform 0.5s ease;
}
/* hub for all the consoles displayed */
.consoles-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* separate from footer without losing the background in main */
    margin-bottom: 10%;
}
/* holder for the actual console images/ word box */
.consoles-home .console-images-home{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
    border: 5px solid white;
    background-color: rgb(117, 5, 11);
}
/* the label in the middle of all the consoles */
.console-images-home #console-label{
    display: flex;
    border: 2px solid;
    text-align: center;
    margin: 0;
    justify-self: center;
    align-self: flex-start;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(185, 1, 1);
    font-size: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    transition: transform 0.5s ease;
}
/* hover effect for the console label */
.console-images-home #console-label:hover{
    transform: scale(1.1);
}
/* the console images links which hold the images */
.console-images-home a{
    width: 20%;
    height: 20%;
    justify-content: center;
    text-decoration: none;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* the images themselves */
.console-images-home a img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 100px rgb(209, 78, 78));
    filter: drop-shadow(0 0 5px rgb(209, 78, 78)) drop-shadow(0 0 100px rgb(209, 78, 78));
    transition: transform 0.5s ease;
}
/* hover effect for the console images */
.console-images-home a img:hover {
    transform: scale(1.1);
}